@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
    --background-color-main: #2F3E46;
    --calc-display-color: #354F52;
    --calc-buttons-operand-color: #52796F;
    --calc-buttons-other-color: #84A98C;
    --calc-buttons-hover-color: #9dad92;
    --calc-buttons-active-color: #95a88c;
    --calc-color: #CAD2C5;
    --h1-color: #cfe2c3;
    --font-family: 'League Spartan';
}

* {
    box-sizing: border-box;
    background-color: var(--background-color-main);
}

h1 {
    text-align: center;
    color: var(--h1-color);
    font-family: var(--font-family), sans-serif;
    font-size: 4em;
}

.calc {
    margin: auto;
    padding: 1rem;
    width: 20rem;
    height: 30rem;
    border: solid black;
    display: grid;
    grid-template-rows: 1.5fr 5fr;
    grid-template-areas: 
        "display"
        "buttons";
    background-color: var(--calc-color);
}

.calc__display-container {
    grid-area: display;
    display: grid;
    grid-template-rows: 0.3fr 1.2fr;
    grid-template-areas:
        "display-operation"
        "display-operand";
    background-color: var(--calc-display-color);
    font-family: var(--font-family);
}

.calc__display--operation {
    grid-area: display-operation;
    text-align: right;
    align-self: center;
    font-size: 1em;
    color: #F2E9E4;
    background-color: inherit;
}

.calc__display--operand {
    grid-area: display-operand;
    text-align: right;
    align-self: center;
    font-size: 3em;
    color: #F2E9E4;
    background-color: inherit;
}

.calc__buttons-container {
    grid-area: buttons;
    display: grid;
    grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col4-start] 1fr [col-end];
    grid-template-rows: [row1-start] 1fr [row2-start] 1fr [row3-start] 1fr [row4-start] 1fr [row5-start] 1fr [row-end];
    grid-template-areas: 
        "ac ce backspace add"
        "seven eight nine subtract"
        "four five six multiply"
        "one two three divide"
        "plus-minus zero decimal equals";
    background-color: var(--calc-color);
}

.calc__buttons {
    padding: 0;
    text-align: center;
    font-size: 2em;
    border: none;
    border-radius: 50%;
    background-color: var(--calc-buttons-other-color);
    font-family: var(--font-family);
}

.calc__buttons:hover {
    background-color: var(--calc-buttons-hover-color);
}

.calc__buttons:active {
    background-color: var(--calc-buttons-active-color);
}

.operand {
    background-color: var(--calc-buttons-operand-color);
}

.error-disable:disabled {
    background-color: darkslategray;
}

/* --- BUTTONS --- */
#ac {
    grid-area: ac;
}
#ce {
    grid-area: ce;
}
#backspace {
    grid-area: backspace;
}
#add {
    grid-area: add;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#subtract {
    grid-area: subtract;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#multiply {
    grid-area: multiply;
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#divide {
    grid-area: divide;
}
#plus-minus {
    grid-area: plus-minus;
}
#zero {
    grid-area: zero;
}
#decimal {
    grid-area: decimal;
}
#equals {
    grid-area: equals;
}