h1 {
    text-align: center;
}

.calc {
    margin: auto;
    max-width: 25rem;
    max-height: 35rem;
    border: solid black;
    display: grid;
    grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col4-start] 1fr [col-end];
    grid-template-rows: [row1-start] 0.75fr [row2-start] 1.5fr [row3-start] 1fr [row4-start] 1fr [row5-start] 1fr [row6-start] 1fr [row-end];
    grid-template-areas: 
        "display-eq display-eq display-eq display-eq"
        "display-num display-num display-num display-num"
        "ac ce backspace add"
        "seven eight nine subtract"
        "four five six multiply"
        "one two three divide"
        "plus-minus zero decimal equals";
}

.calc__display--operation {
    grid-area: display-eq;
    text-align: right;
    align-self: center;
    font-size: 1em;
}

.calc__display--operand {
    grid-area: display-num;
    text-align: right;
    align-self: center;
    font-size: 2em;
}

.calc__buttons {
    text-align: center;
    font-size: 1.5em;
    border: solid black;
    border-radius: 10%;
    background-color: lightcyan;
}

.calc__buttons:hover {
    background-color: lightgray;
}

.calc__buttons:active {
    background-color: gray;
}

.error-disable:disabled {
    background-color: darkslategray;
}

/* --- BUTTONS --- */
#ac {
    grid-area: ac;
}
#ce {
    grid-area: ce;
}
#backspace {
    grid-area: backspace;
}
#add {
    grid-area: add;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#subtract {
    grid-area: subtract;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#multiply {
    grid-area: multiply;
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#divide {
    grid-area: divide;
}
#zero {
    grid-area: zero;
}
#decimal {
    grid-area: decimal;
}
#equals {
    grid-area: equals;
}